.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #d5e1ef;
    width: 100%;
    height: 100%;
    
    
}



.whiterec{
    position: relative;
    background-color: #ffffff;
    height: 499px;
    width: 320px;
    border-radius: 10px;
    padding: 16px 16px 40px 16px;
    display:grid;
    gap: 24px;
    
    
}



.qrimage, img{
   
    border-radius: 15px;
    height: 288px;
    width:288px;
    margin: auto;

}

.textbox{
    width: 320px;
}

.text1{
    
    font-family: "Outfit Bold", sans-serif;
    color: #1f314f;
    text-align:center;
    font-size: 22px;
    
    
}

.text2{
    
    font-family: "Outfit Regular", sans-serif;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #68778d;
    text-align:center;
    
    
}

@media only screen and (max-width: 768px){
    
    .container{

      width:500px;
      height:812px;
        
    }
    

}



